/* general settings  */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*****************************************************
 menu navigation settings
******************************************************/

.nav-menu {
  font-size: 20px;
}

.nav-list {
  list-style-type: none;
  margin: 10px;
  padding: 0;
  /* background-color: #111; */
  display: flex;
}

.nav-list li {
  border: solid white;
  font-size: 2rem;
  text-decoration: none;
}

.login-right-align {
  margin-left: auto;
}

.active {
  background-color: orchid;
}

/*****************************************************
 form settings
******************************************************/
.basic-info {
  margin-top: 5rem;
}

.name {
  display: flex;
  flex-direction: column;
  width: 24vw;
}

form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}
