/************************************************
  Form Settings
******************************************************/
.basic-info {
  margin-top: 5rem;
}

.name {
  display: flex;
  flex-direction: column;
  width: 24vw;
}

.basic-info-section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}

/* submit button settings */

.submit-btn {
  background-color: black;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px;
  align-content: center;
  width: 50%;
}