
/*****************************************************
 general settings
******************************************************/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
  background-color: rgb(170, 170, 254);
}

/*****************************************************
 menu navigation settings
******************************************************/

.nav-menu {
  font-size: 1rem;
  margin: 0;
}

.nav-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  display: flex;
  gap: 1px;
}

.right-align {
  margin-left: auto;
}

.nav-list li:last-child {
  border: 3px solid orange;
}

#Login {
  border: 3px solid blue;
}

.second-nav-list {
  list-style-type: none;
  font-size: 1rem;
  display: flex;
  gap: auto;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

a {
  text-decoration: none;
}
/*****************************************************
 bank info section
******************************************************/

.first-statement {
  text-align:center;
}

.business-pic {
  height: 70vh;
  text-align:center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

/*****************************************************
 footer section
******************************************************/
.second-nav-list {
  list-style-type: none;
  font-size: 1rem;
  display: flex;
  gap: auto;
}
