/* Login Settings */
.Log-section {
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 430px;
  background-color: rgb(0, 0, 0);
  padding: 40px 30px;
  color: white;
  border-radius: 25px;
  border: 5px solid rgb(255, 255, 255);
  box-shadow: 0px 0px 30px rgb(30, 27, 201);
  margin: auto;
  margin-top: 5rem;
}

.Log-section h2 {
  font-size: 35px;
  text-align: center;
}

input {
  margin: 2rem;
  font-size: 2rem;
}

/* top, right, bottom, left */

.login-btn {
  margin: 2rem;
  font-size: 2rem;
  background-color: rgb(18, 21, 192);
  color: white;
  padding: 1rem;
  cursor: pointer;
}

.login-btn:hover {
  color: black;
  transition: all 0.3s ease-in-out 0s;
  border-radius: 25px;
}