/* ################################################################ */
/* general settings */
/* ################################################################ */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: gold;
}

/* ################################################################ */
/* Log in section */
/* ################################################################ */
.Log-section {
  display:flex;
  flex-direction: column;
  width:30vw;
  margin: auto;
  margin-top: 5rem;
}

input {
  margin: 2rem;
  font-size: 2rem;
}

