.info-box {
  display: flex;
  flex-direction: row;
  font-size:30px;
}

.amount {
  align-self: center;
  margin-left: 10px; 
}


.nav-list .gear-icon {
  stroke:red;
  background-color: #fff;
  size: 20px;
}
