/* ################################################# */
/* general settings  */
/* ################################################# */

* {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color:  rgb(38, 38, 41);
}

label {
  color: white;
}

h1 {
  color: white;
  text-align: center;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 10px 14px;
  text-decoration: none;
}

li a:hover {
  background-color: orangered;
}
/* ################################################## */
/* menu section */
/* ################################################## */

.nav-menu {
  font-size: 20px;
  margin: 0;
}

.nav-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #111;
  display: flex;
}

.nav-list li {
  border: solid white;
} 

.login-right-align {
  margin-left: auto;
}
.active {
  background-color: royalblue;
}

.second-nav-list {
  list-style-type: none;
  background-color: #111;
  text-align: center;
  padding: 10px 0;
  font-size: 20px;
  display: flex;
  justify-content: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  margin: 0;
}

.second-nav-list li {
  border: solid white;
}

/* ################################################## */
/* registeration section */
/* ################################################## */

.registration-section {
  display: flex;
  flex-direction: column;
  width: fit-content;
  padding: 20px;
  margin: auto;
}

.register-btn {
  background-color: royalblue;
  color: white;
  padding: 7px 7px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  margin: 0px 20px;
  justify-content: center;
  align-items: center;
}

.register-btn:hover {
  background-color: orangered;
  color: white;
}

.info-box {
  margin: 1rem;
  display: flex;
  flex-direction: column;
}
