/* Registration Settings */
.registration-section {
  display: block;
  flex-direction: column;
  width: fit-content;
  padding: 20px;
  margin: auto;
  background-color: black;
  border-radius: 25px;
  border: 5px solid rgb(255, 255, 255);
  box-shadow: 0px 0px 30px rgb(30, 27, 201);
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
}

.register-btn {
  background-color: royalblue;
  color: white;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  margin: 0px 20px;
  justify-content: center;
  align-items: center;
}

.register-btn:hover {
  background-color: orangered;
  transition: all 0.3s ease-in-out 0s;
  border-radius: 25px;
  color: black;
}

.existing-user {
  background-color: purple;
  color: white;
  padding: 20px;
  margin: 20px;
}

.existing-user a {
  color: yellow;
}

.info-box {
  margin: 1rem;
  display: flex;
  flex-direction: column;
}

.username-box, .first-name-box, .last-name-box, .email-box, .password-box {
  border: 10px 10px white;
  border-radius: 25px;
  padding: 5px;
}

label {
  padding: 5px;
}